.event-details {
    padding: 20px;
    margin: 20px 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.grid-item {
    background-color: #fff;  
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.grid-item h2 {
    margin-bottom: 15px;
    font-size: 1.8rem;
    color: #333;
}

.grid-item p {
    color: #666;
    margin-bottom: 10px;
}

.grid-item ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

.grid-item li {
    margin: 8px 0;
}

.grid-item.event {
    background-image: url('/assets/birthday2.jpeg');
    background-size: cover;
    background-position: center;
}

.grid-item.about {
    background-image: url('/assets/birthday2.jpeg');
    background-size: cover;
    background-position: center;
}

.grid-item.schedule {
    background-image: url('/assets/birthday2.jpeg');
    background-size: cover;
    background-position: center;
}

.grid-item.location {
    background-image: url('/assets/birthday2.jpeg');
    background-size: cover;
    background-position: center;
}
